%section#shorturl
	%h1 &hearts;Steve
	%h2 Shorten and share URL's
	%form{:method => "post"}
		%input#url{:name => "url", :type => "text"}
		%input#submit{:type => "submit", :value => "shorten"}
	.clear
	- if @shortcode
		.result
			Your shortened URL is:
			%br
			%a{:href => "http://xn--steve-bs1c.tk/#{@shortcode}"}
				http://&hearts;steve.tk/#{@shortcode}