!!! 5
%html
	%head
		%title ♥ Steve Jobs
		%link{:rel => 'stylesheet', :href => '/assets/application.css', :type => 'text/css'}	
	%body
		%iframe{:src => 'http://www.apple.com/', :width => '100%', :height => '100%', :id => 'iframe'}
		= yield
	