!!! 5
%html
  %head
    %title ♥ Steve Jobs
    %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Modernist', :type => 'text/css'}  
  
  %body
  	%iframe{:src => 'http://www.apple.com/stevejobs/', :width => '100%', :height => '100%', :style => 'position:absolute;top:0;left:0;'}
  	= yield
  